/* shered style */
.text-color {
    color: rgba(130, 130, 130, 1);
}

.btn-primary {
    background-color: rgb(225, 104, 60);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.color {
    color: rgb(225, 104, 60);
}

.mt {
    margin-top: 8%;
}

/* end  */


.heading {
    color: #575757;
    font-size: 3.5rem;
}

.header-img img {
    width: 100%;
}

.header-text {
    width: 50%;
}

.header-container {
    display: flex;
    max-width: 90%;
    margin: 0px auto;
    align-items: center;
}

/* about-me section */
.about-me {
    background-color: rgba(252, 143, 73, 0.1);
}

.about-me img {
    width: 30%;
}

.about-container {
    display: flex;
    max-width: 80%;
    margin: 0px auto;
    align-items: center;
    padding: 5% 0px;
    gap: 20%;
}

.about-text h1 {
    font-size: 3rem;
    color: #575757;
}

.card img {
    width: 100%;
}

.card-container {
    display: flex;
    max-width: 80%;
    margin: 2% auto;
    gap: 3%;
}

.card {
    /* border: 3px solid black; */
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.card h2 {
    font-weight: bold;
}

.recipe {
    text-align: center;
}

.money {
    background-color: whitesmoke;
    max-width: 80%;
    display: flex;
    margin: 0px auto;
    margin-top: 10%;
    justify-content: space-around;
}
.box{
    padding-top:5%;
    padding-bottom: 5%;
}
.box h1{
    font-weight:bold;
    font-size: 2rem;
}
footer{
    background-color: black;
    align-items: center;
    text-align:center;
    color: white;
    padding: 4% 10px;
}